<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">

                <div class="sb-sidenav-menu-heading">Menüler</div>
                <div class="sb-sidenav-menu-heading">Ürün İŞlemleri</div>
                <a class="nav-link" href="/Product/Index/">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Ürünler
                </a>
                <a class="nav-link" href="/Product/AddProduct/">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Yeni Ürün Girişi
                </a>

                <div class="sb-sidenav-menu-heading">Müşteri İşlemleri</div>
                <a class="nav-link" href="/Customer/Index/">
                    <div class="sb-nav-link-icon"><i class="fa fa-users"></i></div>
                    Müşteriler
                </a>
                <a class="nav-link" href="/Customer/AddCustomer/">
                    <div class="sb-nav-link-icon"><i class="fa fa-users"></i></div>
                    Yeni Müşteri Girişi
                </a>

                <div class="sb-sidenav-menu-heading">Meslek İşlemleri</div>
                <a class="nav-link" href="/Job/Index/">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    Meslekler
                </a>
                <a class="nav-link" href="/Job/AddJob/">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    Yeni Meslek Girişi
                </a>
                
                <div class="sb-sidenav-menu-heading">Kategori İşlemleri</div>
                <a class="nav-link" href="/Category/Index/">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Katagoriler
                </a>    
                <a class="nav-link" href="/Category/AddCategory/">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Yeni Kategori Girişi
                </a>
                <br />
                
                <div class="sb-sidenav-menu-heading">Kullanıcı İşlemleri</div>
                <a class="nav-link" href="/Settings/Index/">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Şifre İşlemleri
                </a>
                <a class="nav-link" href="#">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Yardım
                </a>
            </div>
        </div>
    </nav>
</div>